<style>
  .image-gallery {
    padding: 0;
    margin: 2rem auto;    /* auto-left/right to keep the block centred */
    text-align: center;   /* centre the inline-blocks within */
    list-style: none;
  }
  .image-gallery li {
    display: inline-block; /* sit side-by-side but shrink-wrap */
    float: none;           /* override your old float:left */
    margin: 0 1rem;        /* space between logos */
    width: auto;           /* let them size by content */
    vertical-align: middle;
  }
  .image-gallery li a img {
    max-height: 200px;     /* bump this up or down to taste */
    width: auto;           /* preserve aspect ratio */
    display: block;
  }
</style>


{{ $dir := string (.Get "gallery_dir") }}
<div style="text-align: center;">
  <ul class="image-gallery">
    {{- range readDir (print "/assets" $dir) }}
      {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
      {{- $resized := $image.Fit "400x400 q50" -}}
      <li>
        <a href="{{ $resized.Permalink }}" class="lightbox-image">
          <img src="{{ $resized.Permalink }}" alt="{{ .Name }}">
        </a>
      </li>
    {{- end }}
  </ul>
</div>
